.section-seven {
  height: 30vh;
  background-color: var(--footer-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-seven div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.section-seven div img {
  transform: scale(1.5, 1.5);
  margin-bottom: 2rem;
  fill: var(--footer-color);
}

.section-seven div .footer-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.section-seven div .footer-menu ul li a {
  text-decoration: none;
  color: var(--footer-color);
}
