.section-one {
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
  margin-bottom: 10%;
}

.center-text h1 {
  color: whitesmoke;
  margin-bottom: 7rem;
  letter-spacing: .5rem;
  font-weight: 700;
}